body{
    background-image:url(../img/background.jpg);
    margin: 0px;
    padding: 0px;
    font-family: "Fink_Heavy";
}
@font-face{
    font-family: "Fink_Heavy";
    src: url(../fonts/finkheavy-webfont.woff) format("woff");
}
h1{
    text-align: center;
    font-family: Fink_Heavy;
    font-size: 72px;
}
a{
    font-size: 72px;
    color: #8c534c;
}
#center{
    text-align: center;
    margin-bottom: 18%;
}
#gd{
    display: flex;
    width: 100%;
}
#gauche{
    justify-content: flex-start;
    display: flex;
    margin-left: 6%;
    width: 100%;
}
#droite{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;
}#deco{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}
@media screen and (max-width:1024px){
    body{
    margin: 0px;
    padding: 0px;
    height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
    }
    h1{
        padding-top: 20%;
    padding-bottom: 20%;
    font-size: 48px;
    }
    a{
        font-size: 38px;
        color: black;
    }
}
@media screen and (max-width:1366px){
    body{
    margin: 0px;
    padding: 0px;
    height: 768px;
    background-size: cover;
    background-repeat: no-repeat;

    }
    h1{
        font-size: 56px;
    }
    a{  
        font-size: 52px;
        color: black;
    }
}