body{
    background-image:url(../img/background.jpg);
    margin: 0px;
    padding: 0px;
    font-family: "Fink_Heavy";
    height: 1080px;
    background-size: 100% 100%;
}
@font-face{
    font-family: "Fink_Heavy";
    src: url(../fonts/finkheavy-webfont.woff) format("woff");
}
h1{
    text-align: center;
    font-family: Fink_Heavy;
    font-size: 72px;
}
a{
    font-size: 72px;
    color: #8c534c;
}
#center{
    text-align: center;
    margin-bottom: 18%;
}
#gd{
    display: flex;
    width: 100%;
}
#gauche{
    justify-content: flex-start;
    display: flex;
    margin-left: 6%;
    width: 100%;
}
#droite{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;
}#deco{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}
@media screen and (max-width:1366px){
    body{
    background-size: cover;
    height: 768px;
    }
    h1{
    font-size: 52px;
    }
    a{
    font-size: 46px;
    color: black;
    }
}

@media screen and (max-width:1024px){
    body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #8c524e;
    height: 768px;
    }
    h1{
    font-size: 38px;
    padding-top: 1%;
    }
    a{
    font-size: 52px;
    color: black;
    }
    #droite{
    margin-right: 1%;
    }
    #gauche{
    margin-left: 1%;
    }
}
@media screen and (max-width:640px){
    body{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8c524e;
    }
    h1{
    font-size: 30px;
    }
    a{
    font-size: 22px;
    color: black;
    }
}